* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgba(26, 11, 46, 1);
}

.btn {
    border-radius: 30px;
    border: none;
    color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    font-size: 1rem;
    font-weight: 600;
    background-image: linear-gradient(to top right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
}

.btn img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

hr {
    border-color: rgb(105, 67, 124);
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 700;
}

p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}


/*--header section--*/
.nav-bar {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.menu {
    display: none;
}

.logo-image img {
    width: 219px;
    height: 32px;
    align-items: center;
}

.nav-bar ul li {
    display: inline;
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin: 0 30px;
    font-weight: 500;
}

/*--banner section--*/
.hero {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    text-align: center;
    align-items: center;
}

.hero-container {
    width: 100%;
    max-width: 1400px;
    padding: 90px 0;
    margin: 0 auto;
}

.hero-microphone {
    position: absolute;
    margin-left: 33.5%;
    margin-top: -14%;
}

.btn-badge {
    position: absolute;
    margin-left: 4%;
    margin-top: -18%;
    background-color: rgba(0, 255, 136, 1);
    border-radius: 18px;
    border: none;
    color: rgba(26, 11, 46, 1);
    padding: 10px 16px;
    font-size: 1.25rem;
    font-weight: 600;
}

.hero-content {
    align-items: center;
    text-align: center;
    line-height: 1.5;
}

.hero-content p {
    margin-bottom: 25px;
}

.btn-hero {
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
}

.btn-hero img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}

/*--podcast section--*/
.podcast-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.podcast-content {
    align-items: center;
    text-align: center;
    padding: 20px 0;
    line-height: 2;
}

.podcast-rating {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.podcast-rating span {
    color: rgba(0, 255, 136, 1);
    font-size: 3rem;
    font-weight: 700;
}

/*--responsive device--*/

/*-- small device--*/
@media screen and (max-width:576px) {
    nav {
        display: none;
    }

    .btn {
        display: none;
    }

    .menu {
        display: inline;
    }
}

/*--medium device--*/

@media screen and (min-width: 576px),
and (max-width: 992px) {

    nav {
        display: inline;
    }

    .nav-bar li a {
        margin: 0 5px;
    }

    .btn {
        display: inline;
    }

    .menu {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .nav-bar li a {
        margin: 0 30px;
    }
}